<form action="/tinh" class="container mt-3">
    <h2>Bé Tập Tính</h2>
    <div class="form-group row">
        <label for="num1" class="col-sm-2 col-form-label">Số Thứ Nhất</label>
        <div class="col-sm-2">
            <input type="text" class="form-control mb-2" id="num1" name="num1" value="{{num1}}" onfocusout="isNumber(value, id)">
        </div>
        <div class="col-sm-2">
           <input type="radio" id="add" name="calc" value="add"> Cộng
           <input type="radio" id="subtract" class="ms-2" name="calc" value="sub"> Trừ
        </div>
    </div>
    <div class="form-group row">
        <label for="num2" class="col-sm-2 col-form-label">Số Thứ Hai</label>
        <div class="col-sm-2">
            <input type="text" class="form-control mb-2" id="num2" name="num2" value="{{num2}}" onfocusout="isNumber(value, id)">
        </div>
        <div class="col-sm-2">
           <input type="radio" id="multiple" name="calc" value="mul"> Nhân
           <input type="radio" id="divide" class="ms-2" name="calc" value="div"> Chia
        </div>
    </div>
    <div class="form-group row">
        <label for="result" class="col-sm-2 col-form-label">Kết quả</label>
        <div class="col-sm-2">
            <input type="text" class="form-control mb-2" id="result" value="{{result}}" disabled>
        </div>
        <div class="col-sm-2">
           <input type="submit" id="calc" value="Tính">
        </div>
    </div>
  
    <div class="form-group row">
         <label for="result" class="col-sm-2 col-form-label">Thông báo</label>
        <div class="col-sm-2">
            <p class="text-danger" id="resultText">{{errorMsg}}</p>
        </div>
    </div>
</form>